<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="SecurityKey" value="Pl@t@n0"/>
  </appSettings>
    <connectionStrings>
      <add name="strConn" connectionString="Data Source=DESKTOP-NOV7462\SQLEXPRESS;Initial Catalog=sistemaEscolar;User ID=sa; Password=1234567"/>
    </connectionStrings>
</configuration>